@import 'tailwindcss';

:root {
	--background: #fef6dd;
	--forground: #000000;

	--primary-100: #685d5d;
	--primary-200: #9d8640;
	--primary-300: #000000;
	--primary-400: #000000;

	--secondary-100: #b7a261;
	--secondary-200: #685d5d;
	--secondary-300: #f9f6ea;
	--secondary-400: #e0ce93;
	--secondary-500: #fdf4f4;
	--secondary-600: #7f6f3e;
	--secondary-700: #e0ce93;
	--secondary-800: #fef6dd;
	--secondary-900: #000000;

	--tertiary-100: #7f6f3e;
	--tertiary-200: #fef6dd;
	--tertiary-300: #b7a261;
	--tertiary-400: #f9f6ea;
	--tertiary-500: #fdf4f4;
	--tertiary-600: #b7a261;
	--tertiary-700: #fdfaf0;
	--tertiary-800: #f9f6ea;
	--tertiary-900: #9d8640;

	--neutral-100: #ffffff;
	--neutral-200: #000000;
}

@theme inline {
	--color-background: var(--background);
	--color-forground: var(--forground);

	--color-primary-100: var(--primary-100);
	--color-primary-200: var(--primary-200);
	--color-primary-300: var(--primary-300);
	--color-primary-400: var(--primary-400);

	--color-secondary-100: var(--secondary-100);
	--color-secondary-200: var(--secondary-200);
	--color-secondary-300: var(--secondary-300);
	--color-secondary-400: var(--secondary-400);
	--color-secondary-500: var(--secondary-500);
	--color-secondary-600: var(--secondary-600);
	--color-secondary-700: var(--secondary-700);
	--color-secondary-800: var(--secondary-800);
	--color-secondary-900: var(--secondary-900);

	--color-tertiary: var(--tertiary-100);
	--color-tertiary-200: var(--tertiary-200);
	--color-tertiary-300: var(--tertiary-300);
	--color-tertiary-400: var(--tertiary-400);
	--color-tertiary-500: var(--tertiary-500);
	--color-tertiary-600: var(--tertiary-600);
	--color-tertiary-700: var(--tertiary-700);
	--color-tertiary-800: var(--tertiary-800);
	--color-tertiary-900: var(--tertiary-900);

	--color-bg: var(--background);

	--color-neutral-100: var(--neutral-100);
	--color-neutral-200: var(--neutral-200);

	--text-1sm: 13px;
	--text-2.5xl: 26px;
	--text-2.6xl: 28px;

	--font-poppins: var(--font-poppins), sans-serif;
	--font-inter: var(--font-inter);
	--font-merri-waether-sans: var(--font-merri-weather-sans);
	--font-sigma-one: var(--font-sigma-one);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #131312;
		--forground: #ffffff;

		--primary-100: #d1d1cd;
		--primary-200: #7f6f3e;
		--primary-300: #ccc0c0;
		--primary-400: #fdfaf0;

		--secondary-100: #b7a261;
		--secondary-200: #685d5d;
		--secondary-300: #f9f6ea;
		--secondary-400: #e0ce93;
		--secondary-500: #fdf4f4;
		--secondary-600: #7f6f3e;
		--secondary-700: #c2b293;
		--secondary-800: #3b3729;
		--secondary-900: #a89d9d;

		--tertiary-100: #7f6f3e;
		--tertiary-200: #272522;
		--tertiary-300: #4b3d10;
		--tertiary-400: #3b3729;
		--tertiary-500: #60594b;
		--tertiary-600: #625839;
		--tertiary-700: #fdfaf0;
		--tertiary-800: #403d32;
		--tertiary-900: #9d8640;

		--neutral-100: #000000;
		--neutral-200: #ffffff;
	}
}

[data-theme='light'] {
	--background: #fef6dd;
	--forground: #000000;

	--primary-100: #685d5d;
	--primary-200: #9d8640;
	--primary-300: #000000;
	--primary-400: #000000;

	--secondary-100: #b7a261;
	--secondary-200: #685d5d;
	--secondary-300: #f9f6ea;
	--secondary-400: #e0ce93;
	--secondary-500: #fdf4f4;
	--secondary-600: #7f6f3e;
	--secondary-700: #e0ce93;
	--secondary-800: #fef6dd;
	--secondary-900: #000000;

	--tertiary-100: #7f6f3e;
	--tertiary-200: #fef6dd;
	--tertiary-300: #b7a261;
	--tertiary-400: #f9f6ea;
	--tertiary-500: #fdf4f4;
	--tertiary-600: #b7a261;
	--tertiary-700: #fdfaf0;
	--tertiary-800: #f9f6ea;
	--tertiary-900: #9d8640;

	--neutral-100: #ffffff;
	--neutral-200: #000000;
}

[data-theme='dark'] {
	--background: #131312;
	--forground: #ffffff;

	--primary-100: #d1d1cd;
	--primary-200: #7f6f3e;
	--primary-300: #ccc0c0;
	--primary-400: #fdfaf0;

	--secondary-100: #b7a261;
	--secondary-200: #685d5d;
	--secondary-300: #f9f6ea;
	--secondary-400: #e0ce93;
	--secondary-500: #fdf4f4;
	--secondary-600: #7f6f3e;
	--secondary-700: #c2b293;
	--secondary-800: #3b3729;
	--secondary-900: #a89d9d;

	--tertiary-100: #7f6f3e;
	--tertiary-200: #272522;
	--tertiary-300: #4b3d10;
	--tertiary-400: #3b3729;
	--tertiary-500: #60594b;
	--tertiary-600: #625839;
	--tertiary-700: #fdfaf0;
	--tertiary-800: #403d32;
	--tertiary-900: #9d8640;

	--neutral-100: #000000;
	--neutral-200: #ffffff;
}

@layer components {
	.wrapper {
		@apply bg-neutral-100 text-neutral-200 border-3 border-tertiary-300 rounded-xl font-poppins [&_span]:font-bold;
	}

	.loader {
		width: 60px;
		aspect-ratio: 2;
		--_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
		background:
			var(--_g) 0% 50%,
			var(--_g) 50% 50%,
			var(--_g) 100% 50%;
		background-size: calc(100% / 3) 50%;
		animation: l3 1s infinite linear;
	}

	@keyframes l3 {
		20% {
			background-position:
				0% 0%,
				50% 50%,
				100% 50%;
		}
		40% {
			background-position:
				0% 100%,
				50% 0%,
				100% 50%;
		}
		60% {
			background-position:
				0% 50%,
				50% 100%,
				100% 0%;
		}
		80% {
			background-position:
				0% 50%,
				50% 50%,
				100% 100%;
		}
	}

	.no-scroll {
		@apply overflow-hidden;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 50px !important;
}
::-webkit-scrollbar-track {
	background: #e8ebed;
}
::-webkit-scrollbar-thumb {
	background: var(--primary-200);
}
